section#newRoom.app-content
  header.app-header
    a(href='/').icon &#xE72B;
    h2.title {{newRoom.name || 'New room'}}
  
  form(name='newRoom', ng-submit='submit(newRoom)').row-vertical
    input(type='text', name='room', placeholder='Type the name of the new room', required, autofocus, ng-model='newRoom.name')
    input(type='text', name='description', placeholder='Type a description for the new room', ng-model='newRoom.roomDescription')
    .col
    button(type='submit').icon &#xE8FB;
