@import "variables"
@import "fonts"
@import "grid"
@import "base"
@import "views_auto_generated"

html, body, #root
  width: 100%
  height: 100%

body
  margin: 0
  padding: 0
  overflow-x: hidden
  overflow-y: scroll
  background-color: $backgroundColor
  font-family: $fontFamily
  font-size: $fontSize
  color: $foregroundColor
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

a
  &:link, &:visited
    text-decoration: none
    color: $linkColor

  &:hover, &:focus, &:active
    text-decoration: none
    color: darken($linkColor, 5%)

h1
  font-size: 40px
  font-weight: 300

h2
  font-size: 24px
  font-weight: 300

h3
  font-size: 18px
  font-weight: 300

input
  display: block
  height: 24px
  line-height: 24px
  padding: 0 12px
  font-size: 12px
  background-color: rgba(255, 255, 255, 0.9)
  border-radius: 3px
  border-style: none

  &:hover
    background-color: rgba(255, 255, 255, 0.95)

  &:focus
    background-color: #fff
    border-color: $mainColor

input[type='submit'], button
  padding: 0 28px
  border: none
  text-align: center
  background-color: $mainColor
  color: #fff
  cursor: pointer

  &:hover, &:focus
    background-color: darken($mainColor, 2%)

  &:active
    background-color: darken($mainColor, 5%)

.input-big
  min-width: 280px
  height: 42px
  margin-bottom: 12px
  padding: 0 16px
  font-size: 17px
  color: rgba(0, 0, 0, 1)
  border: 1px solid rgba(0, 0, 0, .20)
  border-radius: 4px

.input-search
  background-color: #f6f7f8

.img-rounded
  border-radius: 50%
  background-color: rgba(0, 0, 0, 0.1)

.icon
  font-family: 'SegoeMDL2'

.clearfix
  display: block
  clear: both

#root
  display: flex
  height: 100%

  > #main
    width: 100%
    height: 100%

    @media (min-width: 48em)
      width: auto
      margin: 0 auto
      flex: 0 0 50%

    > .app-content
      height: 100%
      background-color: #fff
      border: 1px solid rgba(0, 0, 0, 0.1)


  .app-header
    display: flex
    align-items: center
    justify-content: space-between
    height: 50px
    padding: 8px
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)

    h2
      flex: 1
      font-size: 16px
      font-weight: 500
      text-align: center
      overflow: hidden

    .icon
      margin: 6px
      font-size: 17px
      font-weight: 300
