@import "../../assets/stylesheets/variables"

#rooms
  display: flex
  flex-direction: column
  align-items: stretch
  height: 100%

  > .rooms-container
    display: flex
    flex: 1
    overflow-y: scroll

    .rooms
      width: 100%

      .room
        display: flex
        height: 50px
        padding: 0 12px
        align-items: center
        color: $foregroundColor
        border: 1px solid rgba(0, 0, 0, 0.02)
        border-width: 0 0 1px 0

        &:hover
          background-color: rgba(0, 0, 0, 0.01)

        &.active
          background-color: rgba(0, 0, 0, 0.05)

        // .avatar
        //   display: none
        //   flex: 0 0 50px
        //   width: 50px
        //   height: 50px
        //   margin-right: 10px

        .details
          display: flex
          flex-direction: column
          flex: 1
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

          .name
            font-size: 15px
            line-height: 20px
            font-weight: normal

          .text
            font-size: 13px
            line-height: 16px
            font-weight: normal
            color: rgba(0, 0, 0, 0.6)
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
