section#rooms.app-content
  header.app-header
    a(href='/logout', title='Logout').icon &#xE778;
    h2.title Rooms
    a(href='/rooms/new').icon &#xE710;
  
  section.rooms-container
    ul.rooms
      li(ng-repeat='room in rooms')
        a.room(href='/rooms/{{room._id}}')
          //- .avatar.img-rounded
          .details
            span.name {{room.name}} &nbsp;
            span.text {{room.description}} &nbsp;
