doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    title Chat
    base(href='/')
    link(rel='stylesheet', href='/css/main.css')
    script(type='text/javascript', src='/libs/angular.min.js')
    script(type='text/javascript', src='/libs/angular-route.min.js')
    script(type='text/javascript', src='/libs/angular-resource.min.js')
    script(type='text/javascript', src='/libs/angular-cookies.min.js')
    script(type='text/javascript', src='/libs/angular-gravatar.min.js')
    script(type='text/javascript', src='/libs/socket.io.js')
    script(type='text/javascript', src='/libs/socket.min.js')
    script(type='text/javascript', src='/js/app.js')
  
  body
    #root
      ng-view#main
