@import "../../assets/stylesheets/variables"

#room
  display: flex
  flex-direction: column
  align-items: stretch
  height: 100%

  > #messages-container
    display: flex
    flex: 1
    overflow-y: scroll
    // align-items: flex-end BUG: Disable scrolling

    &:not(.loaded)
      visibility: hidden


    .messages
      width: 100%
      margin: 12px

      .message
        display: flex
        flex-direction: row
        margin-bottom: 8px

        &.sent
          .user-name
            color: $mainColor

        .avatar-container
          .avatar
            width: 40px
            height: 40px
            margin-right: 8px
            background-color: rgba(0, 0, 0, 0.05)
            border-radius: 6px

        .content-container
          flex: 1

          .details
            display: flex

            .user-name
              margin: auto 0
              line-height: 120%
              margin-bottom: 2px
              font-weight: bold

            .time
              margin: auto 10px
              font-size: 80%
              color: #666


          .content
            line-height: 120%

  > form[name=newMessageForm]
    display: flex
    flex-direction: row
    border-top: 1px solid rgba(0, 0, 0, 0.1)

    > input[type='text']
      flex: 1
      height: 50px
      line-height: 50px
      border: none

    > input[type='submit'], button[type='submit']
      display: none
