section#room.app-content
  header.app-header
    a(href='/rooms').icon &#xE72B;
    h2 {{room.name}}
    a(href='javascript:void(0)', title='Delete room', rel='button', ng-click='deleteRoom(room._id)').icon &#xE74D;
    
  section#messages-container
    ul.messages
      li.message(ng-repeat='message in room.messages', class='{{messageClass(message)}}', ng-init='user = getUser(message.userId)')
        .avatar-container
          img.avatar(gravatar-src-once='user.email', gravatar-size='40')
        
        .content-container.row-vertical
          .details
            .user-name {{user.name}}
            .time {{message.createdAt | date:'h:mma MMM d, y'}}

          .content.col
            span.text {{message.text}}
  
  form(name='newMessageForm', ng-submit='submit(message)')
    input(type='text', name='message', placeholder='Type a message...', value='', required, ng-model='message')
    button(type='submit').icon &#xE72A;
